@charset "utf-8";
#bt {
  width: 21px;
  height: 18px;
  padding: 55px 0 0; 
  margin: 0;
  border: 0;
  background: transparent url(/web/btnPort.jpg) no-repeat center top;
  overflow: hidden;
  cursor: pointer; /* vai por o cursor como forma de mão ao passar por cima do botão */
  cursor: hand; /* para o IE 5.x */
}